.container {
    background-color: orange;
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background-color: purple;
    height: 60px;
}

.wrapper {
    background-color: blue;
    flex-direction: row;
    /*flex-direction: row-reverse;*/
    display: flex;
}
.menu {
    background-color: green;
    width: 30%;
}
.content {
    background-color: aqua;
    width: 70%;
}
.footer {
    background-color: gray;
}